<div class="container">
    <div>
        <form action="/realTimeProducts" method="post" id="form-products"
            class="p-2 m-1 h-100 mt-10 mx-auto  items-center bg-info d-flex justify-content-center align-items-center">
           <div >
            <input class="gap-1 border-botton  border-2 " placeholder="Title" type="text" name="title" id="title" />
            <input class="gap-1 border-botton  border-2 " placeholder="Price" type="text" name="price" />
            <input class="gap-1 border-botton  border-2 " placeholder="Description" type="text" name="description" />
            <input class="gap-1 border-botton  border-2 " placeholder="Category" type="text" name="category" />
            <input class="gap-1 border-botton  border-2 " placeholder="Stock" type="text" name="stock" />
            <input class="gap-1 border-botton  border-2 " placeholder="Code" type="text" name="code" /><br>
            </div>
            <div>
            <input class="p-1 btn btn-secondary btn-sm my-1" type="submit" value="Add Product" />
            <input class="p-1 btn btn-danger btn-sm" type="reset" value="Reset form">
            </div>
        </form>
    </div>

<div class="text-center align-middle ">
    <form id="delete-form" method="GET" action="/realTimeProducts"
        class="p-2 h-100 mt-10 mx-auto items-center bg-info">
        <input class="me-3 border-botton  border-black mt-1 border-2" type="text" name="id" placeholder="Id to delete" />
        <input class="p-1 btn btn-secondary btn-sm my-1" type="submit" value="Delete Product" />
    </form>
</div>

    {{#if productsa}}
    <div class=" m-auto bg-dark">
        {{#each productsa}}
        <div class=" py-10 mt-2 mx-auto flex items-center bg-info">
            <h6 class="mx-5">ID: {{id}}</h6>
            <h6 class="mx-5">Name: {{title}}</h6>
            <h6 class="mx-5">Price: {{price}}</h6>
            <h6 class="mx-5">Description: {{description}}</h6>
            <h6 class="mx-5">Status: {{status}}</h6>
            <h6 class="mx-5">Stock: {{stock}}</h6>
            <h6 class="mx-5">Code: {{code}}</h6>
        </div>
        {{/each}}
    </div>
    {{/if}}

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/socket.js"></script>
</div>